body{
  background-color: grey;  
}
.fa{
    color: rgb(99, 162, 184);
}

.text{
    margin 20px 5px;
}

a{
    border-bottom: 1px solid blue;
}

.box-inside{
    background-color: white;
    text-align: center;
    padding: 50px 5px;
    margin: 30px 5px;
}

.box{
    padding:65px 5px;
}